## Ciclo 02: Aprendizado Supervisionado - Classificação

### 1.0 Import Libraries

In [2]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

### 1.1 Load Dataset

In [3]:
dataset_path = '../datasets/train.csv'

df = pd.read_csv(dataset_path)

In [4]:
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

### 2.0 Features Selection

In [5]:
features = ['idade', 'saldo_atual', 'divida_atual', 'renda_anual',
            'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
            'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
            'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']

label = 'limite_adicional'

x_train = df.loc[:, features]
y_train = df.loc[:, label]

### 3.0 Training

In [6]:
# Definição de parâmetros do treinamento.
k = 7
knn_classifier = KNeighborsClassifier( n_neighbors = k)

# Treinamento do Algoritmo
knn_classifier.fit( x_train, y_train )

KNeighborsClassifier(n_neighbors=7)

In [7]:
y_pred = knn_classifier.predict(x_train)

In [8]:
df_result = df.copy()
df_result['classificacao'] = y_pred

In [9]:
df_result.loc[:, ['id_cliente', 'idade', 'limite_adicional', 'classificacao']].sample(10)

      id_cliente  idade limite_adicional classificacao
4160        5045     36            Negar         Negar
6892        5765     50            Negar         Negar
9307        1055     50            Negar         Negar
2209        9962     22            Negar         Negar
6164       11309     29            Negar         Negar
2539        1598     47            Negar         Negar
5531        7631   8415            Negar         Negar
7494        9748     33            Negar         Negar
4793        8413     40            Negar         Negar
7822        1521     30            Negar         Negar